<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
if [ -f &quot;FULL-2023*&quot; ]; 
then

# if file exist 
sudo mv /var/lib/jenkins/FULL-2023* /home/jenkins/jenkins-backup
else

# is it is not exist
cd /home/jenkins/jenkins-backup
git checkout main
git add *
git commit -m &quot;$(date +%Y%m%d_%H%M%S)&quot;
git push 
fi</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>